<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-screen h-screen bg-[#EFF7F7] flex justify-center">
    <div class="w-11/12 mt-5 rounded-t-lg">
      <nav class="flex items-baseline justify-between px-4 py-2 bg-white rounded-t-lg gap-x-5">
        <a href="#"><h1 class="text-xl font-semibold">Meal App</h1></a>
        <ul class="flex items-center text-black gap-x-3">
          <li class="text-[#55BDB3]"><a href="index.html">Home</a></li>
          <li><a href="./src/views/categories.html">Categories</a></li>
          <li><a href="./src/views/about.html">About</a></li>
          <li class="bg-[#55BDB3] px-2 py-1 text-zinc-50 rounded hover:bg-[#2e7770] active:bg-[#55BDB3]"><a href="#">Signup</a></li>
          <li class="border-solid border-[#55BDB3] border-2 px-2 py-[1.8px] rounded"><a href="#">Login</a></li>
        </ul>
      </nav>
      <section class="bg-opacity-50 h-[475px] flex flex-col gap-y-5">
        <header class="flex flex-col justify-center pb-10 bg-white h-28 rounded-b-xl">
          <h2 class="font-serif text-4xl font-light text-center">See all delicious food<span class="text-[#55BDB3]">.</span></h2>
          <h3 class="text-center text-slate-700">Click menu below to see more</h3>
        </header>
        <main id="items" class=""></main>
      </section>
    </div>
  </body>
  <script>
    const getCategory = () => {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const category = urlParams.get("category");
      return category;
    };
    const fetchData = async () => {
      const category = getCategory();
      document.title = category ? category + " | App Meal" : "Category | App Meal";
      const response = await fetch(`https://www.themealdb.com/api/json/v1/1/filter.php?c=${category}`);
      const jsonData = await response.json();
      const data = jsonData.meals;

      let show = document.createElement("div");
      show.className = "grid lg:grid-cols-4 md:grid-cols-4 sm:grid-cols-2 gap-2";

      for (let index = 0; index < data.length; index++) {
        const element = document.createElement("div");
        const menu = data[index].strMeal;
        //console.log(menu);
        const image = data[index].strMealThumb;
        const id = data[index].idMeal;

        const coba = `
        <a href="detail.html?id=${id}&menu=${menu}">
        <div class="cursor-pointer bg-[url(${image})] text-white  rounded h-24 bg-cover bg-center ">
          <div class="flex items-center justify-center w-full h-full text-center rounded bg-opacity-30 bg-slate-800">
            <p  class="w-10/12 font-semibold ">${menu}</p>
          </div>
        </div> </a>
        `;

        element.innerHTML = coba;
        show.appendChild(element);
      }

      document.getElementById("items").appendChild(show);
    };

    fetchData();
  </script>
</html>
